<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.test.dao.GroupMapper" >
  <resultMap id="BaseResultMap" type="com.test.domain.Group" >
    <id column="groupid" property="groupid" jdbcType="INTEGER" />
    <result column="group_name" property="groupName" jdbcType="VARCHAR" />
    <result column="userid" property="userid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    groupid, group_name, userid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from group_table
    where groupid = #{groupid,jdbcType=INTEGER}
  </select>
  <select id="selectByUserid" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from group_table
    where userid = #{userid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from group_table
    where groupid = #{groupid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.test.domain.Group" >
    insert into group_table (groupid, group_name, userid
      )
    values (#{groupid,jdbcType=INTEGER}, #{groupName,jdbcType=VARCHAR}, #{userid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.test.domain.Group" >
    insert into group_table
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="groupid != null" >
        groupid,
      </if>
      <if test="groupName != null" >
        group_name,
      </if>
      <if test="userid != null" >
        userid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="groupid != null" >
        #{groupid,jdbcType=INTEGER},
      </if>
      <if test="groupName != null" >
        #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.test.domain.Group" >
    update group_table
    <set >
      <if test="groupName != null" >
        group_name = #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        userid = #{userid,jdbcType=INTEGER},
      </if>
    </set>
    where groupid = #{groupid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.test.domain.Group" >
    update group_table
    set group_name = #{groupName,jdbcType=VARCHAR},
      userid = #{userid,jdbcType=INTEGER}
    where groupid = #{groupid,jdbcType=INTEGER}
  </update>
</mapper>