<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.test.dao.UnusualTemperatureMapper" >
  <resultMap id="BaseResultMap" type="com.test.domain.UnusualTemperature" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="zigbee_mac" property="zigbeeMac" jdbcType="VARCHAR" />
    <result column="date" property="date" jdbcType="TIMESTAMP" />
    <result column="temperature" property="temperature" jdbcType="REAL" />
    <result column="humidity" property="humidity" jdbcType="REAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, zigbee_mac, date, temperature, humidity
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from unusual_temperature
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from unusual_temperature
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.test.domain.UnusualTemperature" >
    insert into unusual_temperature (id, zigbee_mac, date, 
      temperature, humidity)
    values (#{id,jdbcType=INTEGER}, #{zigbeeMac,jdbcType=VARCHAR}, #{date,jdbcType=TIMESTAMP}, 
      #{temperature,jdbcType=REAL}, #{humidity,jdbcType=REAL})
  </insert>
  <insert id="insertSelective" parameterType="com.test.domain.UnusualTemperature" >
    insert into unusual_temperature
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="zigbeeMac != null" >
        zigbee_mac,
      </if>
      <if test="date != null" >
        date,
      </if>
      <if test="temperature != null" >
        temperature,
      </if>
      <if test="humidity != null" >
        humidity,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="zigbeeMac != null" >
        #{zigbeeMac,jdbcType=VARCHAR},
      </if>
      <if test="date != null" >
        #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="temperature != null" >
        #{temperature,jdbcType=REAL},
      </if>
      <if test="humidity != null" >
        #{humidity,jdbcType=REAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.test.domain.UnusualTemperature" >
    update unusual_temperature
    <set >
      <if test="zigbeeMac != null" >
        zigbee_mac = #{zigbeeMac,jdbcType=VARCHAR},
      </if>
      <if test="date != null" >
        date = #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="temperature != null" >
        temperature = #{temperature,jdbcType=REAL},
      </if>
      <if test="humidity != null" >
        humidity = #{humidity,jdbcType=REAL},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.test.domain.UnusualTemperature" >
    update unusual_temperature
    set zigbee_mac = #{zigbeeMac,jdbcType=VARCHAR},
      date = #{date,jdbcType=TIMESTAMP},
      temperature = #{temperature,jdbcType=REAL},
      humidity = #{humidity,jdbcType=REAL}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>